@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

main {
  width: 1152px;
}

.board {
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
  width: 30%;
  margin:  auto;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom:20px;
}

.topbar {
  display: flex;
  width: 100%;
  height: 7vmin;
  background-color: #FFDC40;
}

.listName {
  margin: 17px auto 10px;
}

.sort {
  margin-right: 20px;
  display: flex;
  align-self: flex-end;
  color: #C4C4C4;
}

.slot{
  padding: 10px;
  list-style-type:none;
  display:inline-block;
  width:300px;
  height:50px;
  border:1px solid red;
}


.item {
  z-index:3;
  padding: 4px;
  background:white;
  margin: 0 auto;
  height: 40px;
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid silver;
  border-radius: 4px;
  justify-content: space-around;
}

.slot .fa {
  color:silver;
}
.plus {
  margin: 0 auto;
  font-size: 72px;
}

.add {
  text-align:center;
  vertical-align:middle;
  margin-bottom:30px;
  padding-right: 22px;
  position: relative;
  background-color: #9953F1;
  border-radius: 35px; 
  width: 130px;
  height: 42px;
  margin: 0 auto;
}

.plus {
  align-self:center;
  vertical-align:middle;
  display:flex;
  align-items:center;
  text-align:center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  width:42px;
  height:42px;
  border-radius:50%;
  position:absolute;
  background-color: #AA68FE;
  color: white;
}

.plus-sign {
margin: auto;

}

.buttonBase {
  text-align: right;
  color:white;
  line-height:42px;
  font-size: 14px;
}

.x {
  color: silver;
  background-image: url("./icons/x.svg");
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
}

.drag {
  background-image: url(./icons/drag.svg);
  background-repeat: no-repeat;
  height:42px;
  width:42px;
}

.itemText {
  border:none;
  font-family:Roboto,sans-serif;
  font-size:16px;
  margin: auto;
  width:70%;
}

.yellowBackground {
  background: #FFDC40;
}

.hover {
  background-color: #FFDC40;
}

